# Expo
.expo/
.expo-shared/
dist/
web-build/

# Dependencies
node_modules/

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
coverage/

# Temporary
*.tmp
*.temp
